<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>seen</key>
	<false/>
	<key>category</key>
	<integer>3</integer>
	<key>callUpNumber</key>
	<integer>2</integer>
	<key>bookmarked</key>
	<false/>
	<key>name</key>
	<string>Crash Diets Deficient in Nutrients</string>
	<key>numberOfPage</key>
	<integer>4</integer>
	<key>page1</key>
	<string>
Crash diets are usually

deficient in some nutrients.

This may be true.</string>
	<key>page2</key>
	<string>
It is difficult to obtain

all the essential nutrients

from food alone if we consume

less than 1000 kilocalories

per day, and certainly if

we have less than

800 kilocalories.</string>
	<key>page3</key>
	<string>
The nutrients which may

be lacking in a crash diet

are protein, the vitamins

folacin, vitamin B-1, 

vitamin B-2 and vitamin B-6,

the minerals potassium,

magnesium and zinc,

and dietary fibre.</string>
	<key>page4</key>
	<string>It is possible to increase

the nutritional quality of

low energy diets by including

nutrient-rich foods like liver,

wheat germ and yeast. Energy

intakes lower than 800 kilocalories

per day must be accompanied by

nutrient supplements or be provided

by formula feeds, under

medical supervision.</string>
	<key>URLString1</key>
	<string>https://www.facebook.com/notes/orexin/test/552913338146430</string>
	<key>URLString2</key>
	<string></string>
</dict>
</plist>
