<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>seen</key>
	<false/>
	<key>category</key>
	<integer>5</integer>
	<key>callUpNumber</key>
	<integer>2</integer>
	<key>bookmarked</key>
	<false/>
	<key>name</key>
	<string>Caffeine can be harmful</string>
	<key>numberOfPage</key>
	<integer>4</integer>
	<key>page1</key>
	<string>
Caffeine can be harmful,

but for most people

caffeine is safe.</string>
	<key>page2</key>
	<string>
It is unlikely that caffeine

in coffee, cola soft drinks

or tea poses a serious health

hazard for the majority of

people who consume these

beverages in moderation.</string>
	<key>page3</key>
	<string>
caffeine is a central nervous

system stimulant and while

some people can consume

substantial amounts without

apparent ill-effects, others

can be more sensitive.</string>
	<key>page4</key>
	<string>
For those who wish to avoid

caffeine in coffee, there

are a number of alternative

beverage preparations available.

In addition, decaffeinated

coffees, which have been

prepared by extraction of the

natural caffeine, contain only

about one-twentieth of

the original caffeine.</string>
	<key>URLString1</key>
	<string>https://www.facebook.com/notes/orexin/test/552913338146430</string>
	<key>URLString2</key>
	<string></string>
</dict>
</plist>
