<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>seen</key>
	<false/>
	<key>category</key>
	<integer>5</integer>
	<key>callUpNumber</key>
	<integer>1</integer>
	<key>bookmarked</key>
	<false/>
	<key>name</key>
	<string>Artificial Colourings Cause Behavioural Problems</string>
	<key>numberOfPage</key>
	<integer>4</integer>
	<key>page1</key>
	<string>
Artificial colourings can cause

behavioural problems in children

There is some truth in this but

generally the claims have been

exaggerated.</string>
	<key>page2</key>
	<string>In 1973 an American allergy

specialist, Dr Ben Feingold,

advanced the hypothesis that

salicylates, artificial food

flavours, and artificial

colourings were associated

with hyperkinesis and learning

disabilities in some children.</string>
	<key>page3</key>
	<string>
Hyperkinesis in children is

characterised by a marked

and inappropriate physical

overactivity, short attention

span, excessive and

unpredictable responses to

stimuli, and other

abnormal responses.</string>
	<key>page4</key>
	<string>
In conclusion, studies

have demonstrated that,

for a small number of children,

some artificial colours are

associated with

abnormal behaviour.</string>
	<key>URLString1</key>
	<string>https://www.facebook.com/notes/orexin/test/552913338146430</string>
	<key>URLString2</key>
	<string></string>
</dict>
</plist>
