<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>numberOfPage</key>
	<integer>4</integer>
	<key>page1</key>
	<string>Let&apos;s demystify things today.
Shall we begin?</string>
	<key>page2</key>
	<string>Fasting cleans out your system:
This is misleading

Fish is food for brain:
True
</string>
	<key>page3</key>
	<string>Cider vinegar aids
weight loss:
False

Raw foods are more nutritious:

It depends on the food</string>
	<key>page4</key>
	<string>Eating enzymes cures cancer:
False

Lecithin is a special health food:
False</string>
	<key>page5</key>
	<string></string>
	<key>URLString1</key>
	<string>http://www.bing.com</string>
	<key>URLString2</key>
	<string></string>
</dict>
</plist>
