<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>seen</key>
	<false/>
	<key>category</key>
	<integer>2</integer>
	<key>callUpNumber</key>
	<integer>2</integer>
	<key>bookmarked</key>
	<false/>
	<key>name</key>
	<string>Bacon Cause Cancer?</string>
	<key>numberOfPage</key>
	<integer>5</integer>
	<key>page1</key>
	<string>
It is not known if bacon

causes cancer. As with

many foods, it is not

possible to say that bacon

is absolutely safe.</string>
	<key>page2</key>
	<string>
Just as we know, for

example, milk or potatoes

are potentially harmful

under some circumstances

or for some sensitive people,

then we know that bacon

could potentially cause cancer.

However, at present, there is

no evidence that it does.</string>
	<key>page3</key>
	<string>
Bacon, like other cured (or

pickled) meats such as ham,

corned beef, frankfurters

and salami, contain nitrite.

Nitrosamines can cause cancer

in laboratory animals and

they may have the same

potential in humans. </string>
	<key>page4</key>
	<string>
However, the nitrosamines

in bacon occur in much

lower levels than the amounts

used in tests with laboratory

animals and we do not know

how low the probability of

getting cancer from exposure

to these low levels is. </string>
	<key>page5</key>
	<string>The picture is complicated

because the potential to

form carcinogenic (cancer

causing) nitrosamines is

altered by other dietary

components. For example,

vitamin C can prevent the

formation of nitrosamines.

It seems wise not to consume

excessive amounts of foods

containing nitrite and nitrate.</string>
	<key>URLString1</key>
	<string>https://www.facebook.com/notes/orexin/test/552913338146430</string>
	<key>URLString2</key>
	<string></string>
</dict>
</plist>
