<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>seen</key>
	<false/>
	<key>category</key>
	<integer>4</integer>
	<key>callUpNumber</key>
	<integer>2</integer>
	<key>bookmarked</key>
	<false/>
	<key>name</key>
	<string>Women Need More Calcium</string>
	<key>numberOfPage</key>
	<integer>4</integer>
	<key>page1</key>
	<string>
For some reason, women

are more prone to osteoporosis

or thinning of the bones

than men. </string>
	<key>page2</key>
	<string>
Bone consists of much

more than calcium,

and the factors affecting

calcium levels in bone

involve more than

dietary intake. </string>
	<key>page3</key>
	<string>
The body's calcium balance
and bone density
can be affected by:

1. hormones

steroids including sex hormones
e.g., cortisone (unfavourably) 
e.g., sex hormones (favourably)
parathyroid hormones (unfavourably)
calcitonin (favourably)</string>
	<key>page4</key>
	<string>
2. physical activity (favourably)

3. vitamin D (from food or formed under the influence of sunlight) (favourably)

4. food and beverage intake

calcium (favourably)
sodium (unfavourably)
caffeine (unfavourably)
protein (unfavourably)
alcohol (unfavourably)</string>
	<key>URLString1</key>
	<string>https://www.facebook.com/notes/orexin/test/552913338146430</string>
	<key>URLString2</key>
	<string></string>
</dict>
</plist>
