<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>seen</key>
	<false/>
	<key>category</key>
	<integer>6</integer>
	<key>callUpNumber</key>
	<integer>2</integer>
	<key>bookmarked</key>
	<false/>
	<key>name</key>
	<string>Fasting cleans out your system</string>
	<key>numberOfPage</key>
	<integer>4</integer>
	<key>page1</key>
	<string>
This is misleading.

Fasting does not

cleans out your system.</string>
	<key>page2</key>
	<string>
When we fast, there may be

less bowel action because

there is less dietary fibre

and starch resistant to

small intestinal digestion

to enter the large bowel. </string>
	<key>page3</key>
	<string>
It is here that fermentation,

increased microbial bulk and

water retention in

faeces occurs. These processes

are important for the healthy

function of the large bowel

and fasting for long periods

denies this function. </string>
	<key>page4</key>
	<string>
A day or so of minimal

food intake, while maintaining

adequate fluid intake, may

allow the body to readjust

excessive appetite or readjust

its energy balance. But this is

ßnot latter of cleaning the system.</string>
	<key>URLString1</key>
	<string>https://www.facebook.com/notes/orexin/test/552913338146430</string>
	<key>URLString2</key>
	<string></string>
</dict>
</plist>
