<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>seen</key>
	<false/>
	<key>category</key>
	<integer>1</integer>
	<key>callUpNumber</key>
	<integer>1</integer>
	<key>bookmarked</key>
	<false/>
	<key>name</key>
	<string>When Should We Eat?</string>
	<key>numberOfPage</key>
	<integer>4</integer>
	<key>page1</key>
	<string>


Adverse effects on psychological

or physical function is  due to not

having breakfast occurred when the

person was used to having breakfast</string>
	<key>page2</key>
	<string>
If, after missing breakfast,

a person gets hungry later in the

morning, it is likely that they will

eat less nutritionally sound foods

and this can lead to poor eating habits.</string>
	<key>page3</key>
	<string>


To help regulate appetite it is

a useful idea to have a variety of

interesting, low energy-dense (low

kilojoule) snacks available before

and after the evening

meal to nibble on.</string>
	<key>page4</key>
	<string>

Exercise before or after the evening

meal can also help regulate appetite.

Large meals in the evening may make

it harder for some people

to sleep well. </string>
	<key>URLString1</key>
	<string>https://www.facebook.com/notes/orexin/test/552913338146430</string>
	<key>URLString2</key>
	<string></string>
</dict>
</plist>
